@CHARSET "UTF-8";
* {
	font-family:'맑은 고딕';
	margin: 0 auto;
}
.rank {border-collapse: collapse;width:600px;margin-left: 15px}
.rank th{
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #489CFF;
	padding: 0 10px;
	color: white;
	border-collapse: collapse;
	border-bottom: 3px solid #BDBDBD;
}
.rank th:first-child { border-radius: 7px 0 0 0; }
.rank th:last-child { border-radius: 0 7px 0 0; }
.rank td {
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-collapse: collapse;
	border-bottom: 1px solid #EAEAEA;
}
#nameTd {
	width: 210px; 
	text-align: left; 
	padding-left: 20px;
}